{{- /*
Copyright Thomas Helander. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

{{- if and .Values.persistence.[[ pvc.values_section_name ]].enabled (not .Values.persistence.[[ pvc.values_section_name ]].existingClaim) -}}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ template "[[ chart.chart_name ]].[[ pvc.componentObj.values_section_name ]].fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: [[ pvc.component ]]
  {{- if or .Values.persistence.[[ pvc.values_section_name ]].annotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" (dict "values" (list .Values.persistence.[[ pvc.values_section_name ]].annotations .Values.commonAnnotations) "context" .) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  accessModes:
  {{- range .Values.persistence.[[ pvc.values_section_name ]].accessModes }}
    - {{ . | quote }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.[[ pvc.values_section_name ]].size | quote }}
  {{- if .Values.persistence.[[ pvc.values_section_name ]].selector }}
  selector: {{- include "common.tplvalues.render" (dict "value" .Values.persistence.[[ pvc.values_section_name ]].selector "context" $) | nindent 4 }}
  {{- end }}
  {{- if .Values.persistence.[[ pvc.values_section_name ]].dataSource }}
  dataSource: {{- include "common.tplvalues.render" (dict "value" .Values.persistence.[[ pvc.values_section_name ]].dataSource "context" $) | nindent 4 }}
  {{- end }}
  {{- include "common.storage.class" (dict "persistence" .Values.persistence.[[ pvc.values_section_name ]] "global" .Values.global) | nindent 2 }}
{{- end -}}
