{{- /*
Copyright Thomas Helander. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}
{{- if not .Values.[[ secret.values_section_name ]]Secret.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: [[ secret.name ]]
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: [[ secret.component ]]
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {%- for key in secret.secret_keys %}
  [[ key.name ]]: {{ .Values.[[ secret.values_section_name ]]Secret.[[ key.values_section_name ]] | b64enc | quote }}
  {%- endfor %}
{{- end }}
