{{- /*
Copyright Thomas Helander. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: Service
metadata:
  name: {{ template "[[ chart.chart_name ]].[[ service.component ]].fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: [[ service.component ]]
  {{- if or .Values.services.[[ service.values_section_name ]].annotations .Values.commonAnnotations }}
  {{- $annotations := include "common.tplvalues.merge" (dict "values" (list .Values.services.[[ service.values_section_name ]].annotations .Values.commonAnnotations) "context" .) }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  {{ $type := .Values.services.[[ service.values_section_name ]].type }}
  type: {{ $type }}
  {{- if and .Values.services.[[ service.values_section_name ]].clusterIP (eq $type "ClusterIP") }}
  clusterIP: {{ .Values.services.[[ service.values_section_name ]].clusterIP }}
  {{- end }}
  {{- if .Values.services.[[ service.values_section_name ]].sessionAffinity }}
  sessionAffinity: {{ .Values.services.[[ service.values_section_name ]].sessionAffinity }}
  {{- end }}
  {{- if .Values.services.[[ service.values_section_name ]].sessionAffinityConfig }}
  sessionAffinityConfig: {{- include "common.tplvalues.render" (dict "value" .Values.services.[[ service.values_section_name ]].sessionAffinityConfig "context" $) | nindent 4 }}
  {{- end }}
  {{- if or (eq $type "LoadBalancer") (eq $type "NodePort") }}
  externalTrafficPolicy: {{ .Values.services.[[ service.values_section_name ]].externalTrafficPolicy | quote }}
  {{- end }}
  {{- if and (eq $type "LoadBalancer") (not (empty .Values.services.[[ service.values_section_name ]].loadBalancerSourceRanges)) }}
  loadBalancerSourceRanges: {{ .Values.services.[[ service.values_section_name ]].loadBalancerSourceRanges }}
  {{- end }}
  {{- if and (eq $type "LoadBalancer") (not (empty .Values.services.[[ service.values_section_name ]].loadBalancerIP)) }}
  loadBalancerIP: {{ .Values.services.[[ service.values_section_name ]].loadBalancerIP }}
  {{- end }}
  ports:
    {{- range .Values.services.[[ service.values_section_name ]].ports }}
    - name: {{ .name }}
      port: {{ .port }}
      {{- if .targetPort }}
      targetPort: {{ .targetPort }}
      {{- end }}
      protocol: {{ .protocol }}
      {{- if .nodePort }}
      nodePort: {{ .nodePort }}
      {{- else if eq $type "ClusterIP" }}
      nodePort: null
      {{- end }}
    {{- end }}
    {{- if .Values.services.[[ service.values_section_name ]].extraPorts }}
    {{- include "common.tplvalues.render" (dict "value" .Values.services.[[ service.values_section_name ]].extraPorts "context" $) | nindent 4 }}
    {{- end }}
  {{- $podLabels := include "common.tplvalues.merge" (dict "values" (list .Values.[[ service.values_section_name ]].podLabels .Values.commonLabels) "context" .) | fromYaml }}
  selector: {{- include "common.labels.matchLabels" ( dict "customLabels" $podLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: [[ service.component ]]
